.card-text-hidden {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.card-text-visible {
  max-height: 500px;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.toggle-btn {
  display: inline-block;
  font-size: 0.875rem;
  color: #474b50;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 0rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.toggle-btn:hover {
  text-decoration: underline;
  color: #0e7929;
}
