<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if lang == "en" %}
            Edit Project
        {% else %}
            Редагувати Проєкт
        {% endif %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1>
            {% if lang == "en" %}
                Edit Project
            {% else %}
                Редагувати Проєкт
            {% endif %}
        </h1>
        <form method="POST" action="{{ url_for('admin.edit_project', project_id=project.id, lang=lang) }}" enctype="multipart/form-data" class="mb-4">
            <div class="mb-3">
                <label for="name" class="form-label">
                    {% if lang == "en" %}
                        Project Name
                    {% else %}
                        Назва Проєкту
                    {% endif %}
                </label>
                <input type="text" class="form-control" id="name" name="name" value="{{ project.name }}" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">
                    {% if lang == "en" %}
                        Location
                    {% else %}
                        Локація
                    {% endif %}
                </label>
                <input type="text" class="form-control" id="location" name="location" value="{{ project.location }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">
                    {% if lang == "en" %}
                        Description
                    {% else %}
                        Опис
                    {% endif %}
                </label>
                <textarea class="form-control" id="description" name="description" rows="3" required>{{ project.description | safe}}</textarea>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">
                    {% if lang == "en" %}
                        Link
                    {% else %}
                        Посилання
                    {% endif %}
                </label>
                <input type="url" class="form-control" id="link" name="link" value="{% if project.link %}{{ project.link }}{% endif %}">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="finished" name="finished" {% if project.finished %}checked{% endif %}>
                <label class="form-check-label" for="finished">
                    {% if lang == "en" %}
                        Finished
                    {% else %}
                        Завершено
                    {% endif %}
                </label>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">
                    {% if lang == "en" %}
                        Image
                    {% else %}
                        Зображення
                    {% endif %}
                </label>
                <input type="file" class="form-control" id="image" name="image">
                {% if project.image_path %}
                <p>
                    {% if lang == "en" %}
                        Current Image:
                    {% else %}
                        Поточне зображення:
                    {% endif %}
                    <img src="{{ project.image_path }}" width="100px">
                </p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-success">
                {% if lang == "en" %}
                    Save Changes
                {% else %}
                    Зберегти Зміни
                {% endif %}
            </button>
            <a href="{{ url_for('admin.manage_projects', lang=lang) }}" class="btn btn-secondary">
                {% if lang == "en" %}
                    Cancel
                {% else %}
                    Скасувати
                {% endif %}
            </a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#description'), {
                mediaEmbed: {
                    previewsInData: true
                },
                ckfinder: {
                    uploadUrl: '/upload_image'
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>